<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{title}}</title>
  </head>
  <body>
    

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#!">{{title}}とは？</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url link %}">診断する</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url link2 %}">文豪一覧</a>
        </li>
      </ul>


      {% load static %}
      <!-- <img src="/static/web/sam.png"  class="d-block mx-auto">
      <img src="{% static 'web/bun.png' %}" alt="サンプル画像"> -->

      <div id="carouselExampleIndicators" class="carousel slide m-4" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <!-- 文章のみを切り取った画像 -->
            <img class="d-block mx-auto" src="/static/web/sam.png" style="width: 95%;" alt="900x400" data-holder-rendered="true">
          </div>
          <div class="carousel-item">
            <img class="d-block mx-auto" src="" alt="900x400" data-holder-rendered="true" style="width: 900px; height: 400px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-item" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br>
      <br>
      

      <div class="jumbotron">
        <h2 class="display-3">{{title}}とは？</h2>
        <p class="lead">{{description}}</p>
        <hr class="my-2">
        <p>文豪例) {{bungoexample}}</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{% url link %}" role="button">文豪性格診断を試す</a>
        </p>
      </div>
      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>