{% extends 'base.html' %}
{% block title %}文豪一覧{% endblock title %}
{% block content %}
<br>
<p class="lead">
  {{description}}<br>
  {{description2}}
</p>
<br>


<div class="list-group" style="width: 75%; margin-left:5px">
  <a href="/index/test/dazai" class="list-group-item list-group-item-action list-group-item-dark text-white">{{dazai}}</a><br>
  <a href="/index/test/natume" class="list-group-item list-group-item-action list-group-item-success text-primary">{{natume}}</a><br>
  <a href="/index/test/akutagawa" class="list-group-item list-group-item-action list-group-item-primary text-black">{{akutagawa}}</a><br>
  <a href="/index/test/ougai" class="list-group-item list-group-item-action list-group-item-success text-info">{{ougai}}</a><br>
  <a href="/index/test/itiyou" class="list-group-item list-group-item-action list-group-item-warning text-black">{{itiyou}}</a><br>
  <a href="/index/test/siga" class="list-group-item list-group-item-action list-group-item-primary text-light">{{siga}}</a><br>
  <a href="/index/test/saneatu" class="list-group-item list-group-item-action list-group-item-danger text-black">{{saneatu}}</a><br>
  <a href="/index/test/tanizaki" class="list-group-item list-group-item-action list-group-item-light text-info">{{tanizaki}}</a><br>
  <a href="/index/test/kahuu" class="list-group-item list-group-item-action list-group-item-warning text-danger">{{kahuu}}</a><br>
  <a href="/index/test/simada" class="list-group-item list-group-item-action list-group-item-dark text-black">{{simada}}</a><br>
  <a href="/index/test/kikuti" class="list-group-item list-group-item-action list-group-item-info text-primary">{{kikuti}}</a><br>
  <a href="/index/test/kazii" class="list-group-item list-group-item-action list-group-item-warning text-info">{{kazii}}</a><br>
  <a href="/index/test/bizan" class="list-group-item list-group-item-action list-group-item-light text-black">{{bizan}}</a><br>
  <a href="/index/test/kouyou" class="list-group-item list-group-item-action list-group-item-danger text-primary">{{kouyou}}</a><br>
  <a href="/index/test/ranpo" class="list-group-item list-group-item-action list-group-item-info text-black">{{ranpo}}</a><br>
  <a href="/index/test/zenzou" class="list-group-item list-group-item-action list-group-item-light text-primary">{{zenzou}}</a><br>
</div>
{% endblock %}