{% extends 'base.html' %}
{% block title %}文豪一覧{% endblock title %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
  

<div>
<a href="">{{dazai}}</a><br>
<a href="">{{akutagawa}}</a><br>
<a href="">{{natume}}</a><br>
<a href="">{{ougai}}</a><br>
<a href="">{{itiyou}}</a><br>
<a href="">{{siga}}</a><br>
<a href="">{{saneatu}}</a><br>
<a href="">{{tanizaki}}</a><br>
<a href="">{{kahuu}}</a><br>
<a href="">{{simada}}</a><br>
<a href="">{{kikuti}}</a><br>
<a href="">{{kazii}}</a><br>
<a href="">{{bizan}}</a><br>
<a href="">{{kouyou}}</a><br>
<a href="">{{isizaka}}</a><br>
</div>
{% endblock %}